@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 15px;
  direction: ltr;
}

.container {
  margin-top: 30px;
  position: relative;

  width: 100%;
  justify-content: center;
  display: grid;
  grid-template-columns: minmax(150px, 632px);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 2px 6px 2px rgba(60, 64, 67, 0.149);
  border: solid transparent;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 12px 16px;
  margin: 16px;
}

.editable-div-container {
  min-height: 40px;
  font-size: 20px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 6px;
  box-sizing: border-box;
  padding: 10px 5px 0px 0px;
}

/* big style */
.editable-div {
  width: 100%;
  outline: none;
  min-height: 100%;
  box-sizing: border-box;
  letter-spacing: 0.00625em;
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: 400;
}

/* big style */
.content {
  letter-spacing: 0.00625em;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

/* small style */
/* .editable-div {
  width: 100%;
  outline: none;
  min-height: 100%;
  box-sizing: border-box;
  letter-spacing: 0.00625em;
  font-size: 1.375rem;
  line-height: 1.75rem;
  font-weight: 400;

  letter-spacing: 0.00625em;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  box-sizing: border-box;
}


.content {
  letter-spacing: 0.00625em;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  box-sizing: border-box;
} */

.title:hover,
.content:hover {
  cursor: text;
}

.title:empty::before {
  content: "Title";
  opacity: 0.8;
}

.content:empty::before {
  content: "Take a note...";
  opacity: 0.8;
}

.upload-btn {
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
}

.image-icon {
  font-size: 24px;
  color: "#757575";
  opacity: 0.53;
}

.upload-btn:hover {
  border-radius: 50%;
  background-color: gray;
  opacity: 0.87;
  background-color: rgba(95, 99, 104, 0.157);
}

.add-note-btn {
  color: white;
  margin-top: 20px;
  height: 46px;
  width: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  width: fit-content;
  font-size: 18px;
  gap: 5px;
  border: 1px solid rgba(95, 99, 104, 0.157);
  border-radius: 8px;
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.8);
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}

.add-icon {
  color: "#757575";
  opacity: 0.53;
}

.add-note-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0, 0.8);
  transition: 0.1s ease-in-out;
}

.upload-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.upload-image-div {
  position: relative;
}

.uplimg-delt-btn {
  height: 28px;
  width: 28px;
  background-color: #666666;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

.uplimg-delt-btn > * {
  pointer-events: none;
}

.uplimg-delt-btn:hover {
  background-color: rgba(0, 0, 0, 0.8) !important;
  transition: 0.1s ease-in-out;
}

.uplimg-delt-icon {
  font-size: 14px;
  color: white;
}

.hide-btn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}

.show-btn {
  visibility: visible;
  opacity: 100;
  transition: visibility 0s linear 0s, opacity 300ms;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chunk-container {
  display: flex;
}

.chunk-container > div {
  flex-grow: 1;
}

.upload-image-div > img {
  width: 100%;
  display: block;
}

.note-container {
}

.note-pop-up {
  opacity: 0;
}

.image-icon-controls {
  font-size: 18px;
  color: "#757575";
  opacity: 0.53;
}

.controllls {
  display: flex;
  color: #202124;
  opacity: 0.71;
}

.controllls > div:nth-child(1) {
  background-image: url(./Components/image.svg);
}

.controllls > div {
  width: 32px;
  height: 32px;
  margin: 0 8px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
}

.controllls > div:hover {
  border-radius: 50%;
  background-color: gray;
  opacity: 0.87;
  background-color: rgba(95, 99, 104, 0.157);
}
