body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: aliceblue;
}

.container {
  margin-top: 30px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-area:empty::before {
  content: attr(data-placeholder);
}

.note-title:empty::before {
  content: attr(data-placeholder);
}

.text-area {
  min-height: 30px;
  padding: 5px;

  border: 1px solid black;
}

.form {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > div {
  width: 100%;
  border: 1px solid black;
  padding: 5px;
}

.form > div > input {
  width: 100%;
  box-sizing: border-box;
  padding: 6px;
  font-size: 14px;
}

.form > button {
  align-self: flex-end;
  margin-top: 5px;
  padding: 5px 12px;
  cursor: pointer;
}

.image-uploader {
  margin: 10px;
}

img {
  height: 100px;
}
